{% extends 'layout.html' %}

{% block body %}
<div class = "jumbotron text-center">
<h1> About </h1>
<p class = "lead"> Book Recomendation System
A Book Recommendation System will help the users who do not have enough individual knowledge to peruse through the different types of options offered by a website.
It will provide the users with information to assist them to make a decision as to which book to read next.

<br>
<br>
REGISTER-using your mail id
<br>
<br>
EXISTING USER- please login with your existing username and password
<br>
<br>
 

 </p>
</div>
{% endblock %}